@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto+Slab:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

button, input {
  border: none;
  background: none;
}

button:focus, input:focus {
  outline: none;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
}

/* Bootstrap normalize */

.row {
  margin: 0;
  padding: 0;
}